
.body {
  height: 300px;
  position: relative;
}

.next {
  height:100px;
  width: 350px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.enti{
  padding-top:50px;
    text-align: center;
}